body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: auto;
  color: #e0e0e0;
  flex-direction: column;

}

.form-container {
  background-color: #1c1c1c;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 350px;
  height:470px ;
}

h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
  outline: none;
}

input:focus,
textarea:focus {
  background-color: #333;
}

textarea {
  resize: none;
  height: 80px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: #666;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}

.card {
  background-color: #1c1c1c;
  color: white;
  border-radius: 12px;
  width: 200px;
  height: 250px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}
